<div class="conteudo container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-6 p-0">
        <img src="../assets/futebol1.jpg" alt="Imagem" class="img-fluid h-95 w-100 object-fit-cover" />
      </div>
      <div class="col-md-6 my-auto text-center">
        <div >
            <img src="../assets/logoBranco.png" alt="Logo" class="img-logo img-fluid" />
        </div>
        <div>
          <h1>Bem-Vindo à Plataforma Soccer Scored</h1>
          <p><a href="#" (click)="navigateToLogin()">Já possui uma conta? Faça o Login</a></p>
          <p><a href="#" (click)="navigateToRegister()">Não possui uma conta? Crie uma nova conta</a></p>
        </div>
      </div>
    </div>
  </div>