.full-height {
  height: 100vh;
}

.sidebar {
  width: 20vw;
  background-color: #006414;
}
.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 0;
}
.menu-section-header {
  padding: 10px 15px;
  font-weight: bold;
  color: #1ca381; /* Cor de destaque para os cabeçalhos */
}
.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #fff;
}
.sidebar-item:hover {
  background-color: #008f6f;
  color: #0c0c0c;
}
.sidebar-icon {
  margin-left: 10px;
  color: #fff;
}

.sidebar-menu {
  margin-left: 10px;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}

.invert-icon {
  transform: rotate(180deg);
  color: #fff;
}

p {
  color: #fff !important;
}
