/* You can add global styles to this file, and also import other style files */
.authenticating-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 5rem;
    background: #fff;
    opacity: 0.8;
    animation: pulsate 0.4s infinite alternate linear;
  }
  
  @keyframes pulsate {
    from { opacity: 1.0; }
    to { opacity: 0.2; }
  }

  

  a {
    color: #85bd74;
    text-decoration: none;
  }

  a:hover {
    color: #a9de96;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #a9de96;
  }

